Source: prometheus-druid-exporter
Maintainer: Luca Toscano <ltoscano@wikimedia.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
  dh-python,
  dh-systemd,
  python3-setuptools (>= 0.6b3),
  python3-all,
  python3-nose,
  python3-prometheus-client (>= 0.5.0+1-1~bpo9+1),
  python3-requests
Standards-Version: 3.9.8

Package: prometheus-druid-exporter
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Prometheus exporter for Druid (http://druid.io/)
 Collects HTTP POST JSON data coming from Druid daemons and expose them
 formatted following the Prometheus standards.
